body{
    background-color: #EDEDED;
}

.navbar-default,
.col-sm-4 .panel-default{
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 4px 4px 6px -6px black;
    padding: 5px
}

.col-sm-4 .panel-default{
    max-width: 400px;
}

.col-sm-4 .sidebar .panel-heading,
.col-sm-8 .article .panel-heading{
    background-color: white;
}

.col-sm-8 .article {
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
}