body{
    background-color: #EDEDED;
}

.navbar-default,
.col-sm-4 .panel-default,
.col-sm-8 #article-list .articles{
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 4px 4px 6px -6px black;
    padding: 5px
}

.col-sm-4 .panel-default{
    max-width: 300px;
    min-width: 280px;
}

.col-sm-4 .sidebar .panel-heading,
.col-sm-8 .article .panel-heading{
    background-color: white;
}

.col-sm-8 #article-list .articles{
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: text-top;
    float: right;
    animation: fadein 1.3s;
    cursor: pointer;
    margin-left: 20px;
}

.col-sm-8 #article-list .articles .panel-heading{
    text-align: center;
    background-color: white;
}

.col-sm-4 .sidebar .panel-heading{
    text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}