{% extends 'main_page/main_page_carcass.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load bootstrap3 %}

<head>
    <link rel="stylesheet" href="{% static 'css/article_details.css' %}">
</head>

{% block content %}
        <div class="panel panel-default article-details">
            <div class="panel-heading">
                <h2 class="article-title">{{ article.title }}</h2>
            </div>
            <div class="panel-body">
                {{ article.text }}
            </div>
            <div class="panel-footer">
                {{ article.created }}
                {{ article.get_hits }}

            </div>
        </div>
{% endblock %}