{% extends 'main_page/main_page_carcass.html' %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/article_list.css' %}">
</head>

{% block content %}
    {% for article in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading" id="main_page_header" data-id="{{ article.get_article_rating_model_id}}">
                <h3>{{ article.title }}</h3>
                {{ article.created }}
                <p><span class="glyphicon glyphicon-eye-open"></span> {{ article.get_hits }}
                    <a href="/rate/{{ article.get_article_rating_model_id}}/like/"><span class="glyphicon glyphicon-thumbs-up like" data-grade="like"></span></a>
                        <span class="total-likes">{{ article.get_likes }}</span>
                    <a href="/rate/{{article.get_article_rating_model_id}}/dislike/"><span class="glyphicon glyphicon-thumbs-down like" data-grade="dislike"></span></a>
                        <span class="total-dislikes">{{ article.get_dislikes }}</span>
                </p>
            </div>
            <div class="panel-body" id="main_page_body">
                <p>{{ article.text }}</p>
                <button type="submit" class="btn btn-primary btn-md" onclick="location.href = '{{ article.get_absolute_url }}'">Читать далее</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}